.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background: linear-gradient(91.1deg, rgb(57, 31, 105) -2.3%, rgb(115, 43, 155) 44.4%, rgb(231, 75, 184) 103.4%);
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 88.26%, 2.00% 86.76%, 4.00% 85.19%, 6.00% 83.59%, 8.00% 81.98%, 10.00% 80.39%, 12.00% 78.86%, 14.00% 77.42%, 16.00% 76.09%, 18.00% 74.90%, 20.00% 73.87%, 22.00% 73.02%, 24.00% 72.37%, 26.00% 71.92%, 28.00% 71.70%, 30.00% 71.69%, 32.00% 71.91%, 34.00% 72.35%, 36.00% 72.99%, 38.00% 73.83%, 40.00% 74.86%, 42.00% 76.04%, 44.00% 77.37%, 46.00% 78.80%, 48.00% 80.33%, 50.00% 81.91%, 52.00% 83.52%, 54.00% 85.13%, 56.00% 86.70%, 58.00% 88.20%, 60.00% 89.62%, 62.00% 90.91%, 64.00% 92.06%, 66.00% 93.05%, 68.00% 93.84%, 70.00% 94.44%, 72.00% 94.83%, 74.00% 94.99%, 76.00% 94.94%, 78.00% 94.66%, 80.00% 94.17%, 82.00% 93.47%, 84.00% 92.57%, 86.00% 91.50%, 88.00% 90.28%, 90.00% 88.92%, 92.00% 87.45%, 94.00% 85.91%, 96.00% 84.32%, 98.00% 82.71%, 100.00% 81.11%);
      
}

.header-name {
    background-color: white;
    padding: 3rem;
    width: 25rem;
    justify-content: center;
    display: flex;
    height: 4rem;
    align-items: center;
    font-family: cursive;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(177, 173, 219) 11.2%, rgb(245, 226, 226) 91.1%);
    box-shadow: 0px 0px 11px 9px rgba(249,249,249,0.5);
-webkit-box-shadow: 0px 0px 11px 9px rgba(249,249,249,0.5);
-moz-box-shadow: 0px 0px 11px 9px rgba(249,249,249,0.5);    
}